*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background: #f3f3f3;
    font-family: sans-serif;

}

a{
    text-decoration: none;

}

.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
}

/*-----------------------------------*/
/*TITLE*/
/*-----------------------------------*/

/*.title {
    margin-top:30px;
    margin-bottom: -20px;
    text-align: center;
    color: navy;
}*/

/*-----------------------------------*/
/*HEADER*/
/*-----------------------------------*/

header{
    padding: 40px 0;
}

header .logo{
    text-align: center;
    margin-bottom: 30px;
}

header .logo p{
    color: #9b9b9b;
}

header .search-bar{
    width: 70%;
    height: 40px;
    line-height: 40px;
    background: white;
    padding: 0 20px;
    border-radius: 100px;
    border:none;
    text-align: center;
    font-size: 15px;

}

header form{
    text-align: center;
}

header .categoria{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

header .categoria a{
    color: #9b9b9b;
    margin: 30px 20px;
    font-size:  18px;
    font-weight: 700;
}

header .categoria a.activo{
    color: black;
}

/*-----------------------------------*/
/*GRID*/
/*-----------------------------------*/

.Grid {
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s linear 1s;
}

.Grid.imagenes-cargadas{
    opacity: 1;
}

.Grid .item {
    position: absolute;
    display: block;
    padding: 0;
    margin: 10px;
    width: calc(33.333333333% - 20px);
}

.Grid .item-container  {
    position: relative;
}

.Grid .item img{
    width: 100%;
    cursor: pointer;
    vertical-align: top;
}

/*-----------------------------------*/
/*Overlay*/
/*-----------------------------------*/

section.overlay{
    position: fixed;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.overlay.activo{
    display: flex;
}

.overlay img{
    max-width: 100%;
}

.overlay .description{
    display: block;
    background: white;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    border-radius: 12px;
    max-width: 50%;
}

.contenedor-img{
    position: relative;
}

.overlay #btn-close{
    background: none;
    font-size: 20px;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    right: -20px;
    top: -20px;
}

/*-----------------------------------*/
/*Footer*/
/*-----------------------------------*/

footer .redes-sociales{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

footer .redes-sociales a{
    display: block;
    width: 60px;
    height: 60px;
    margin: 20px;
    text-align: center;
    border-radius: 100px;
    background: black;
    color: white;
    transition: .3s ease all;

}

footer .redes-sociales .github{background: #24292e;}
footer .redes-sociales .facebook{background: #3b5998;}
footer .redes-sociales .linkedin{background: #1da1f2;}

footer .redes-sociales a i {
    font-size: 20px;
    line-height: 60px;
}

footer .contenedor-icono:hover a{
    animation: icono .5s ease;
}

@keyframes icono {
    from{
        transform: rotate3d(0,0,0,0);
    }
    to {
        transform: rotate3d(0,1,0,360deg);
    }
}

footer .infoper{
    margin-bottom: 40px;
    text-align: center;
    font-size: 18px;
    color: #c13584;
}

footer .infoper a {color: #000;
                     font-weight: 700;}
footer .infoper a:hover {text-decoration: underline;}

@media screen and (max-width: 700px){
    .Grid .item{
        width: calc(50% - 20px);
    }
    form .search-bar{
        width: 100%;
    }
}

